$primary: #00CCD1;
$primary-light: #19b8bc;
$light-color: #FFFFFF;
$dark-color: #000;
$gray-bg: #eaeaea;
$light-green: #66DC71;
$alert: #E6001A;


$authentication-orange-bg: $primary;
$authentication-white-bg: $light-color;

$nav-bg: $light-color;

$dropdown-colored-bg: $light-color;

$btn-default-bg: $primary;
$btn-hover: $primary-light;
$btn-tabs-bg: $light-color;

$timeline-success-color: $light-green;

$hyper-link-color: #008ACF;
$hyper-link-hover-color: #15578f;

$drag-drop: #bdbdbd;


// NEW COLORS
$status-tabs-bg: $primary;
