@import 'reset';
@import './base/index';
@import './variables/index';
@import './layout/index';
@import './modules/index';
@import './components/index';
@import './pages/index';
@import '~react-image-gallery/styles/scss/image-gallery.scss';
