// variables
$h1-font-size: 30px;
$h3-font-size: 18px;
$black: #000000;

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
}

h1 {
  font-size: $h1-font-size;
}

.h3 {
  color: $black;
  font-size: $h3-font-size;
  font-weight: bold;
  text-decoration: none;
}
