.btn {
  border: 2px solid transparent;
  border-radius: 2px;
  margin: 16px 0;
  padding: 8px 8px;

  &:hover {
    cursor: pointer;
  }

  &-default {
    background-color: $authentication-color;
    border-color: $authentication-color;
    color: $light-color;

    &:hover {
      background-color: $primary-light;
      border-color: $primary-light;
      color: $light-color;
    }
  }

  &-link {
    background-color: white;
    border: 0;
    color: $hyper-link-color;
    outline: none;

    &:visited,
    &:active,
    &:hover {
      background-color: white;
      color: $hyper-link-hover-color;
    }
  }

  &-dropdown {
    background-color: white;
    border: 2px solid black;
    float: right;
    margin: 32px 0 0 0;
    width: 114px;
  }
}
