.btn {
  border: 0;
  border-radius: 10px;
  padding: 8px 16px;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &-default {
    background-color: $btn-default-bg;
    border-color: $btn-default-bg;
    color: $eos-white;

    &:hover {
      background-color: $btn-hover;
      border-color: $btn-hover;
      color: $eos-white;
    }
  }

  &-highlighted {
    background-color: $light-green;
    border-color: $btn-hover;
    color: $eos-white;
  }

  &-transparent {
    background-color: transparent;
    float: right;
    margin: 0px 0px;
    padding: 0px 0px;
    width: auto;
  }

  &-flexible {
    width: auto;
  }

  &-secondary {
    background-color: transparent;
    border: 1px solid #1a2a3a;
  }
}
