//sass-lint:disable class-name-format

.comments-wrapper {
  border-top: 1px solid $eos-gray-100;
  margin-top: 32px;

  .comments-heading {
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

}

.comment {
  display: flex;
  flex-direction: row;
  margin: 8px 0px;

  .avatar {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.comment-content {
  width: 100%;

  &-body {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
  }

  .top {
    padding: 0.25rem 0.6rem;
  }

  .metadata {
    display: inline-block;
    font-size: $comments-font-size-metadata;
    margin-left: 1em;
  }

  .text {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1rem 0.6rem;
  }

  .media {
    padding: 1rem 0.6rem;
  }

  .reply-form {
    margin-left: 4.5rem;
  }

  .reply-action {
    font-size: $comments-font-size-reply;

    a {
      font-weight: 100;
    }

    .toggled {
      background-color: #42779B;
    }
  }
}

.btn-comment-edit {
  margin: 2% 0;
}

.btn-comment-reply {
  margin: 1% 0;
}

.comment-form {
  margin: 16px 0px 0px 0px;
}

.mentions {
  background-color: #ffffff;
  margin: 1em 0;
  width: 100%;
}

.mentions--singleLine {
  .mentions__control {
    display: inline-block;
  }

  .mentions__higlighter {
    border: 2px inset transparent;
    padding: 1px;
  }

  .mentions__input {
    border: 2px inset;
    padding: 5px;
  }
}

.mentions--multiLine {
  .mentions__control {
    border: 1px solid silver;
    border-radius: 5px;
    font-family: $font-family;
    font-size: $font-size-general;
    height: 100px;
  }

  .mentions__highlighter {
    padding: 9px;
  }

  .mentions__input {
    border: 0;
    min-height: 63px;
    outline: 0;
    padding: 9px;
  }
}

.mentions__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: $font-size-general;
}

.mentions__suggestions__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px 15px;
}

.mentions__suggestions__item--focused {
  background-color: #cee4e5;
}

.mentions__mention {
  background-color: #cee4e5;
}
