.comment {

  &-input {
    align-items: flex-end;
    display: flex;
    margin-bottom: 5px;
    width: 100%;

    .buttons {
      align-items: center;
    }

  }
}

.file-input {
  cursor: pointer;
  margin-bottom: 1em;
  margin-left: -2.5em;
  z-index: 10;
}

.file {
  display: none;

  &-btn-attachment {
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  &-button-label:hover {
    cursor: pointer;
  }
}

.no-comments {
  width: 100%;
  text-align: center;
  padding: 2rem 0px;
}
