.comment {
  &-form {
    margin: 16px 0px;
  }

  &-input {
    align-items: flex-end;
    display: flex;
    margin-bottom: 5px;
    width: fit-content;

    textarea {
      border: 5em;
      outline: none;
      resize: none;
    }
  }
}

.file {
  cursor: pointer;
  display: none;

  &-input {
    height: 86px;
  }

  &-btn-attachment {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
  }

  &-button-label:hover {
    cursor: pointer;
  }
}
