//sass-lint:disable class-name-format

.comments-wrapper {
  border-top: 1px solid $eos-gray-100;
  margin-top: 32px;
}

.comment {
  display: flex;
  flex-direction: row;
  margin: 8px 0px;
}

.comment-content {
  margin-left: 16px;

  .metadata {
    display: inline-block;
    font-size: $comments-font-size-metadata;
    margin-left: 1em;
  }

  .reply-action {
    font-size: $comments-font-size-reply;

    a {
      font-weight: 100;
    }
  }
}

.btn-comment-edit {
  margin: 2% 0;
}

.comment-form {
  margin: 16px 0px;
}

.mentions {
  background-color: #ffffff;
  margin: 1em 0;
  width: 40vw;
}

.mentions--singleLine {
  .mentions__control {
    display: inline-block;
  }

  .mentions__higlighter {
    border: 2px inset transparent;
    padding: 1px;
  }

  .mentions__input {
    border: 2px inset;
    padding: 5px;
  }
}

.mentions--multiLine {
  .mentions__control {
    border: 1px solid silver;
    font-family: $font-family;
    font-size: $font-size-general;
  }

  .mentions__highlighter {
    padding: 9px;
  }

  .mentions__input {
    border: 0;
    min-height: 63px;
    outline: 0;
    padding: 9px;
  }
}

.mentions__suggestions__list {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  font-size: $font-size-general;
}

.mentions__suggestions__item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding: 5px 15px;
}

.mentions__suggestions__item--focused {
  background-color: #cee4e5;
}

.mentions__mention {
  background-color: #cee4e5;
}
