.comments-wrapper {
  border-top: 1px solid $eos-gray-100;
  margin-top: 32px;
}

.comment {
  display: flex;
  flex-direction: row;
  margin: 8px 0px;
}

.comment-content {
  margin-left: 16px;

  .metadata {
    display: inline-block;
    font-size: $comments-font-size-metadata;
    margin-left: 1em;
  }

  .reply-action {
    font-size: $comments-font-size-reply;

    a {
      font-weight: 100;
    }
  }

  .comment-gallery-container {
    height: 20%;
    width: 20%;
  }
}
