.container {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
}

.dropzone {
  align-items: center;
  background-color: $eos-white;
  border: 2px dashed $drag-drop;
  border-radius: 2px;
  display: flex;
  flex: 1;
  flex-direction: column;
  outline: none;
  padding: 60px;
  transition: border .24s ease-in-out;
}

.dropzone:focus {
  border-color: $primary;
}

.preview {
  &-root {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    box-sizing: border-box;
    display: inline-flex;
    height: 150px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px;
    position: relative;
    width: 150px;
  }

  &-inner {
    display: flex;
    min-width: 0px;
    overflow: hidden;
  }

  &-image {
    display: block;
    height: 100%;
    width: auto;
  }

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 16px;
  }

  &-remove-button {
    background: $dark-gray-transparent;
    border: 0;
    border-radius: 50%;
    color: $eos-white;
    font-weight: $font-weight-close;
    position: absolute;
    right: 4px;
    top: 4px;
  }

  &-remove-button:hover {
    cursor: pointer;
  }
}
