.container {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
}

.dropzone {
  align-items: center;
  background-color: $eos-white;
  border: 2px dashed $drag-drop;
  border-radius: 2px;
  display: flex;
  flex: 1;
  flex-direction: column;
  outline: none;
  padding: 60px;
  transition: border .24s ease-in-out;
}

.dropzone:focus {
  border-color: $primary;
}
