.dropdown-container {
  display: inline-block;
  position: relative;
}

.dropdown {
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  float: right;
  position: absolute;
  right: 0;
  top: 100%;
  width: 114px;

  &-nodisplay {
    background-color: $dropdown-colored-bg;
    color: $light-color;
    display: none;
    width: 200px;
  }
}

.dropdown-container:hover .dropdown {
  display: block;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 8px 16px;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}
