.editable-label {
  align-items: center;
  display: flex;
  justify-content: center;

  button {
    background-color: transparent;
    border: 0;
    margin-left: $eos-s;
  }

  button.editable-label-edit-btn {
    visibility: hidden;
  }

  &:hover {
    button {
      cursor: pointer;
      visibility: visible;
    }
  }

  @media only screen and (max-width: 768px) {
    h2 {
      margin: 0.5rem 0;
    }

    p {
      margin: 0.5rem 0;
    }

    button.editable-label-edit-btn {
      display: none;
    }

    &:hover {

      button {
        cursor: pointer;
        display: block;
      }

    }

  }
}
