.footer-main {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  color: white;
  .strict {
    margin: 0;
    padding:  0 10px;
  }
}

.footer-info {
  width: 100%;
  margin-bottom: -20px;
  padding: 20px;
  text-align: center;
  color: white;
  background-color: #1E3B51;
  a {
    color: white;
    text-decoration: none;
  }
}
@media only screen and (max-width: 600px) {
  .footer-main {
    flex-direction: column;

    p {
      margin: 0;
      margin-bottom: 1rem;
      padding: 0.3rem 0;
    }

    a {
      padding: 0.3rem;
    }
  }
}
