.footer-main {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .footer-main {
    flex-direction: column;

    p {
      margin: 0;
      margin-bottom: 1rem;
      padding: 0.3rem 0;
    }

    a {
      padding: 0.3rem;
    }
  }
}
