.preview {
  &-root {
    border: 1px solid #eaeaea;
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    display: inline-flex;
    flex-direction: column;
    height: 150px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 4px;
    position: relative;
    width: 150px;
  }

  &-inner {
    display: flex;
    min-width: 0px;
    overflow: hidden;
  }

  &-image {
    display: block;
    height: 100px;
    object-fit: contain;
    width: 140px;
  }

  &-remove-button {
    background: $dark-gray-transparent;
    border: 0;
    border-radius: 50%;
    color: $eos-white;
    font-weight: $font-weight-600;
    height: 18px;
    padding: 0;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 18px;
  }

  &-remove-button:hover {
    cursor: pointer;
  }
}
