.nav-header {
  align-items: center;
  background-color: $nav-bg;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1120px;
  padding: 32px 16px;
  position: sticky;
  top: 0;
  z-index: 10;

  .brand {
    align-items: baseline;
    color: $dark-color;
    font-weight: bold;
    text-align: left;

    .logo {
      width: 47px;
    }
  }
}
