.no-story {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
  min-width: 100%;

  & p {
    font-weight: bold;
    margin-block-end: 0px;
  }
}
