.notifications-dropdown {
  max-height: 512px;
  width: 256px;
}

.notifications-options {
  padding: 4px 8px;
}

@media only screen and (max-width: 768px) {
  .notifications-dropdown {
    max-height: 512px;
    width: 195px;
  }
}
