.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-pagination {
  background: $eos-white;
  border-radius: 10px;
  color: $eos-black;
  margin: 1%;
  padding: 1%;
  text-decoration: none;

  .eos-icons {
    padding: 0 8px;
  }

  .number {
    color: $eos-black;
    margin: 0 4px;
    padding: 0 8px;
    text-decoration: none;
  }

  .selected {
    color: $primary;
    font-weight: bold;
  }

  &-disabled {
    color: $medium-gray;

    &:hover {
      cursor: not-allowed;
    }
  }
}
