.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .link {
    color: $dark-color;
    margin: 8px 8px;
    padding: 8px 8px;
  }

  .link-highlighted {
    font-weight: bold;
  }
}
