.product-select-container {
  text-align: center;

  .product-select {
    margin-bottom: 10px;
    width: 100%;
  }
}

.product-card {
  border-radius: 5px;
  box-shadow: 0px 2px 15px $shadow-color;
  margin: 8px 15px;
  padding: 10px;
  text-transform: uppercase;
  transition: 0.2s;
  width: 260px;

  .circle-container {
    width: 100%;

    .circle {
      border: 1px solid $primary;
      border-radius: 50%;
      height: 10px;
      margin: auto;
      margin-top: 10px;
      width: 10px;
    }
  }

  .product-logo {
    width: 230px;

    img {
      width: 230px;
    }
  }

  &-selected {
    background-color: $primary;
    color: $eos-white;
    transform: scale(1.03);

    .circle {
      background-color: $eos-white;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
}
