.roadmap {
  @extend .flex;
  @extend .flex-row;
  @extend .flex-space-between;
  margin: 16px auto;
  position: relative;

  &-container {
    background: $eos-white;
  }

  &::before {
    border-top: 1px solid gray;
    content: '';
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 1;
  }

  .btn {
    background: $eos-cerulean-50;
    z-index: 10;
  }

  .btn-tabs {
    background: $eos-white;
    border: 1px solid $light-gray;
    border-radius: 35px;
    color: $light-gray;
    font-weight: bold;
    padding: 8px 12px;

    &-wrapper {
      background: $eos-white;
      padding: 0px 10px;
      z-index: 10;
    }

    .eos-icons {
      fill: $light-gray;
      margin-right: 12px;
      vertical-align: sub;
    }

    &-selected,
    &:hover,
    &:focus {
      background-color: $gray-bg;
      border-radius: 35px;
      color: $black;

      .eos-icons {
        fill: $black;
      }
    }

    &:focus {
      outline: transparent 0px;
    }
  }
}

.roadmap-one {
  .btn-tabs {
    border: 1px solid $light-gray;

    .eos-icons {
      margin-right: 12px;
      vertical-align: sub;
    }

    &-selected,
    &:hover,
    &:focus {
      background: $eos-cerulean-900;
      border: 1px solid $dark-gray-transparent;
      color: $eos-white;
    }

    &:focus {
      outline: transparent 0px;
    }
  }
}

.roadmap-dropdown {
  background-color: white;
  display: none;
  padding: 20px;
}

@media (max-width: 900px) {
  .roadmap-container {
    display: none;
  }

  .roadmap-dropdown {
    display: block;
  }

  .roadmap {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      border-left: 1px solid gray;
      border-top: 0;
      content: '';
      height: 80%;
      left: 23px;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    .btn-tabs {
      margin: 0.8rem 0;
    }
  }

  .btn-tabs {
    margin: 0.5rem;
    width: 200px;
  }

}

@media (max-width: 600px) {
  .roadmap-one {
    flex-direction: column;
  }

  .btn-tabs {
    margin: 0.3rem 0;
    text-align: left;
    width: 100%;
  }
}
