.roadmap {
  @extend .flex;
  @extend .flex-row;
  @extend .flex-space-between;
  margin-bottom: 32px;
  position: relative;

  &::before {
    border-top: 1px solid gray;
    content: '';
    position: absolute;
    top: 22px;
    width: 100%;
    z-index: 1;
  }

  .btn {
    background: $eos-cerulean-50;
    z-index: 10;
  }

  .btn-tabs {
    border-bottom: 2px solid transparent;
    border-radius: 0;

    .eos-icons {
      margin-right: 12px;
      vertical-align: sub;
    }

    &-selected,
    &:hover,
    &:focus {
      border-bottom-color: $status-tabs-bg;
      border-radius: 0px;
    }

    &:focus {
      outline: transparent 0px;
    }
  }
}

.roadmap-one {
  .btn-tabs {

    .eos-icons {
      margin-right: 12px;
      vertical-align: sub;
    }

    &-selected,
    &:hover,
    &:focus {
      border: 2px solid $light-gray;
    }

    &:focus {
      outline: transparent 0px;
    }
  }
}

@media (max-width: 900px) {
  .roadmap-container{
    display: flex;
    // justify-content: center;
  }

  .roadmap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // margin-bottom: 32px;
    position: relative;

    &::before {
      border-left: 1px solid gray;
      border-top: none;
      content: '';
      position: absolute;
      left: 23px;
      width: 100%;
      height: 80%;
      z-index: 1;
    }

    .btn-tabs {
      margin: 0.8rem 0;
    }
  }
}
