.search-input {
  border: 0;
  border-bottom: 2px solid rgb(51, 51, 51);
  border-radius: 0;
  justify-content: space-between;
  outline: none;
  padding: 0px 10px;
  padding-left: 0px;
  width: 290px;
}

.search-input > .filter-title {
  display: none;
}

.search-input .dropdown-container .btn {
  height: 30px;
}

.search-input .dropdown-container .eos-icons {
  padding: 0px;
}

.search-input > input {
  border: 0px;
  outline: none;
  padding: 0px;
  width: 167px;
}

.search-input .user-suggest-dropdown {
  background-color: white;
  max-height: 80px;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  z-index: 4;
}

.close-btn-div {
  width: 15px;
}

.close-btn {
  cursor: pointer;
}
  