.story-vote-wrapper {
  background-color: $primary;
  border-radius: 5px;
  padding: 4px 4px;

  &-voted {
    background-color: $light-blue;
  }
}

.story-votes-count {
  border-radius: 6px;
  color: $eos-white;
  cursor: pointer;
  font-size: $font-size-votes;
  font-weight: normal;
  padding: 0px 10px;
  text-align: center;
}

.story-voters-list {
  margin: 0.5rem auto;

  .avatar {
    border-radius: 50%;
    height: 1.5rem;
    margin: 5px;
    width: 1.5rem;
  }

  &-modal {
    text-align: center;

    .text {
      color: $primary;
      cursor: pointer;
      margin-block-start: 0px;
    }
  }
}

.story-vote-button {
  color: $eos-white;
  font-weight: bold;
  margin: 4px 4px;
  padding: 4px;
  text-align: center;

  &-clickable {
    cursor: pointer;
  }
}

.storypage-timeline {
  background-color: $eos-white;

  .eos-icons {
    font-size: 1em;
    vertical-align: middle;
  }
}

.status-icon {
  padding: 0.3em;
}

.status-current {
  color: $status-present;
  font-weight: bold;
}

.story-pattern {
  position: relative;
}
