.story {
  align-items: center;
  background-color: $light-color;
  border-bottom: 2px solid $gray-bg;
  border-radius: 10px 10px 10px 0px;
  box-shadow: 0px 2px 15px $shadow-color;
  display: flex;
  flex-direction: row;
  height: 128px;
  justify-content: space-around;
  margin: 16px 0px;
  width: 100%;

  .eos-icons {
    margin-left: 16px;
    margin-right: 16px;
    pointer-events: none;
    vertical-align: middle;
  }

  .story-title {
    font-size: $font-size-label;
    font-weight: bold;
  }

  .story-description {
    margin: 16px 0px;
  }

  .author-info {
    align-items: center;
    width: 40%;

    .author-info-element {
      flex-grow: 1;
    }
  }

  .mini-label {
    color: $light-gray;
    font-size: $font-size-small;
  }

  .story-meta {
    font-size: $font-size-small;
    margin: 4px 16px 4px 0px;

    .eos-icons {
      font-size: $font-size-label;
    }
  }
}

.stories-content {
  cursor: pointer;
  flex-grow: 2;
  margin: 0px 16px;
  width: 50%;
}

@media only screen and (max-width: 768px) {
  .stories-content {
    max-width: 60%;
    width: 60%;
  }
}
