.switch {
  .option {
    font-weight: bold;
    margin: 0px 5px;
    margin-block-end: 0px;
    margin-block-start: 0px;
  }

  .react-switch-handle {
    box-shadow: 0px 0px 0px 1px $dark-color;
  }
}
