.tag {
  background-color: $dark-gray-transparent;
  border-radius: 16px;
  color: $eos-white;
  font-size: $font-size-small;
  font-weight: $font-weight-600;
  margin: auto;
  margin-right: 50%;
  padding: 5px 10px;
  width: fit-content;
}
