.status-wrapper {
  position: relative;
}

.status-element {
  z-index: 999;

  .status {
    align-items: center;

    .tick {
      background-color: $light-green;
      font-size: $font-size-small;
      padding: 8px 8px;
    }

    .no-tick {
      background-color: $light-green;
      padding: 13px;
    }
  }
}

.divider {
  border: 2px solid $light-green;
  position: absolute;
  top: 20%;
  width: 96%;
}
