.status-wrapper {
  max-height: 80px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

@keyframes becomeVisible {
  0% {
    opacity: 0%;
  }

  25% {
    opacity: 25%;
  }

  50% {
    opacity: 50%;
  }

  75% {
    opacity: 75%;
  }

  100% {
    opacity: 100%;
  }
}

.status-element {
  animation: 2s ease-out 0s 1 becomeVisible;
  z-index: 20;

  .status {
    align-items: center;

    .tick {
      background-color: $light-green;
      font-size: $font-size-small;
      padding: 8px 8px;
    }

    .no-tick {
      background-color: $light-gray;
      padding: 13px;
    }
  }
}
