.search-container {
  flex-wrap: initial;
  margin: 64px 16px 0px 16px;
  max-height: 576px;
  max-width: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
}


.search-results {
  background-color: $light-color;
  padding: 8px 8px;
}

.search-result {
  max-width: 80%;
  padding: 8px 8px;
}

.search-result:hover {
  background-color: $primary-light;
  cursor: pointer;
}

@media only screen and (max-width: 1120px) {
  .search-container {
    margin: -32px 0px 0px 0px;
    max-height: 384px;
    max-width: 100%;
  }
}
