.search-container {
  bottom: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  margin-top: -32px;
  width: 100%;
}

.search-dropdown {
  background-color: $light-color;
  max-height: 256px;
  overflow-y: scroll;
  position: absolute;
  width: auto;
}
