// Variables
$subheader-font-size: 18px;

.product-introduction {
  display: flex;
  font-family: $font-family-spartan;
  margin: 88px 0px;

  .subheader {
    font-size: $subheader-font-size;
    font-weight: 100;
  }
}

.search-bar {
  align-items: center;
  background-color: $eos-white;
  border-radius: 10px;
  justify-content: space-between;
  margin: 16px 0px 16px 0px;
  padding: 20px;
}

.search-controls {
  align-items: center;
  justify-content: center;
}

.options-bar {
  align-items: center;
  background-color: $eos-white;
  border-radius: 10px;
  padding: 8px;
}

// .link-default {
//   padding-left: 0.5em;
// }

@media (max-width: 900px) {
  .product-introduction {
    display: block;
    margin: 44px 0px;
  }

  .img-wrap {
    display: flex;
    justify-content: center;
  }

  .options-bar {
    padding: 8px 0;
  }
}
