// Variables
$subheader-font-size: 18px;

.product-introduction {
  display: flex;
  font-family: $font-family-spartan;
  margin: 32px 0px;

  .subheader {
    font-size: $subheader-font-size;
    font-weight: 100;
  }
}

@media (max-width: 900px) {
  .product-introduction {
    display: block;
    margin: 44px 0px;
  }

  .img-wrap {
    display: flex;
    justify-content: center;
  }
}
