.newstory-content {
  background-color: $primary-foreground;
  margin: 0px 8px;
  padding: 16px 16px;
}

.newstory {
  max-width: 576px;
  padding: 16px 16px;
  width: 576px;
}

.ck {
  margin-bottom: 32px;
}

.ck-content {
  min-height: 220px;
}
