.author-information {
  display: flex;
  flex-direction: row;

  .user-avatar {
    margin: 0px 0px 0px 16px;
  }

  .avatar-vote {
    float: left;
    padding-right: 6em;
  }
}

.share-story {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 1em;
}

.share-button {
  margin-right: 2em;
}
