.author-information {
  display: flex;
  flex-direction: row;
  margin-left: 3em;
  margin-top: 0.5em;

  .user-avatar {
    margin: 0px 0px 0px 16px;
  }

  .avatar-vote {
    float: left;
    padding-right: 6em;
  }
}

.story {
  &-title-pattern {
    margin-top: 1em;
  }

  &-description {
    padding: 0 2em 0 2em;
    width: 35%;
  }

  &-page {
    height: auto;
    position: relative;
  }

  &-page-second {
    height: 100%;
    position: relative;
  }

  &-buttons-container-top {
    margin-left: 3em;
    margin-top: 1em;
  }

  &-editor {
    width: 70%;
  }
}

.share-story {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: 1em;
}

.share-button {
  margin-right: 2em;
}

.gallery-container {
  height: 30%;
  width: 30%;
}

.gallery-container-comment {
  height: 35%;
  width: 40%;
}

.right-nav {
  position: absolute;
  right: 0;
  top: 4em;
}
