.user-avatar {
  display: block;
  float: left;

  .avatar {
    height: 4.5em;
    width: 4.5em;
  }
}

@media (max-width: 500px) {
  .user-avatar .avatar {
    height: 3.5em;
    width: 3.5em;
  }
}
