.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }

  &-column {
    flex-direction: column;
  }

  &-space-between {
    justify-content: space-between;
  }

  &-center {
    justify-content: center;
  }
}
