body {
  font-family: $font-family;
  font-size: $font-size-general;
  line-height: 1.5em;
}

.app {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-container {
  min-height: calc(100vh - 16px);
}

a {
  font-weight: bold;
  opacity: 1;
  text-decoration: none;
}

a:visited,
a:active {
  color: $hyper-link-color;
}

a:hover {
  color: $hyper-link-hover-color;
}
